<!-- <container>
 <article class='shared-content'>
  <head>
    <h5 class='title'>The only place someone can't hear me</h5>
    <h6 class='username'>Janice from Friends</h6>
  </head>
  <div>
  <img class='post-image' src='https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2016/05/hubble12.jpg?itok=VRlqHWQ4' alt='post-image'>
  </div>
  <p>User Description</p>
  <p>keywords</p>
  <footer>
    <div class='likes'>❤️</div>
    <div class='rating'>5/10</div>
    <div class='comments'>"God Janice, we get it, you are loud"</div>
  </footer>
  </article>
</container> -->