<body>
  <table>
    <tr>
      <td>
        <nav id='nav-bar'>
          <img class='logo' src='../images/hippo.png'>
          <input class ="searchBar" type="text" name="firstname" value="Search">
          <button type="button" class="btn btn-light">Search</button>
          <span class='header'>The Waterhole</span>
          <form class="form-inline" method="GET" action="/login" >
            <button type = "submit" class="btn btn-light" id="login-button" value="Login"> Login</button>
          </form>
          <form class="form-inline" method="GET" action="/register" >
            <button type = "submit" class="btn btn-light" id="register-button" value="Register"> Register </button>
          </form>
        </nav>
      </td>
    </tr>
  </table>
</body>