<h1> The Waterhole </h1>
  <% if (!user) { %>
    <nav id='nav-bar'>
      <div>
      <img class='logo' src='../images/hippo.png'>
      <input class ="search-bar" type="text" placeholder="Search">
      <button type="button" class="btn-light" id="search-button">Search</button>
    </div>
      <span class='header'><a href= "/">The Waterhole</a></span>
      <div class='right-header'>
      <form class="form-inline" method="GET" action="/login" >
        <button type = "submit" class="btn-light" id="login-button" value="Login"> Login</button>
      </form>
      <form class="form-inline" method="GET" action="/register" >
        <button type = "submit" class="btn-light" id="register-button" value="Register"> Register </button>
      </form>
    </div>
    </nav>
    <% } else { %>
  <nav id='nav-bar'>
      <div>
      <img class='logo' src='../images/hippo.png'>
      <input class ="search-bar" type="text" name="search-bar" placeholder="search">
      <button type="button" class="btn-light" id="search-button">Search</button>
    </div>
     <a href='/'> <h1>The Waterhole</h1></a>
      <span class='header'>Logged in as, <%= user.name %></span>
      <div class='right-header'>
      <form class="form-inline" method ="POST" action ="/logout">
        <button type = "submit" class="btn-light" id="logout-button" value="Logout"> Logout</button>
      </form>
      <form class="form-inline" method="GET" action=`/resources/users/:id/edit` >
        <button type = "submit" class="btn-light" id="edit-profile-button" value="Edit Profile"> Edit Profile </button>
      </form>
      </div>
    </nav>
  <% } %>

