<% if (!user) { %>
  <br>
<% } else { %>
<form id='new-resource-form' action="/resources/:id/newResource" method="POST">
  <label>The title of your post:</label>
  <input class='submission-form' name="title" type="text"></input>
  <label>The URL that you wish to share:</label>
  <input class='submission-form' name="url" type="text"></input>
  <label>An image address for good measure:</label>
  <input class='submission-form' name="image" type="text"></input>
  <label>A description in your own words:</label>
  <input class='submission-form' name="description" type="text"></input>
  <label>A keyword for this post:</label>
  <input class='submission-form' name="keyword" type="text"></input>
  <br>
  <input id='submission-button' type="submit" name="submit">
</form>
<% } %>