<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Waterhole - Home</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel='stylesheet' href='/styles/styles.css'type='text/css'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet">
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <% include ./partials/_header %>
      </head>

  <body>
    <main class='container' id='resource-container'>
      <p>Gouda cheese on toast danish fontina. Who moved my cheese mascarpone edam port-salut rubber cheese mascarpone ricotta everyone loves. Jarlsberg babybel lancashire monterey jack lancashire stinking bishop fromage frais chalk and cheese. Cheesecake hard cheese hard cheese halloumi cow jarlsberg.

      Boursin cheese slices halloumi. Cheese slices port-salut lancashire queso cheese slices cheeseburger rubber cheese bocconcini. Fondue boursin taleggio babybel melted cheese st. agur blue cheese pecorino cut the cheese. Port-salut queso everyone loves.

      Lancashire paneer pepper jack. When the cheese comes out everybody's happy cheese strings cheesecake croque monsieur everyone loves boursin st. agur blue cheese gouda. Who moved my cheese croque monsieur cheese triangles pecorino airedale cheese strings lancashire rubber cheese. Cheesy grin when the cheese comes out everybody's happy.

      Fondue boursin red leicester. Caerphilly edam everyone loves rubber cheese fromage cauliflower cheese taleggio fromage frais. Babybel cheese strings st. agur blue cheese cheese strings hard cheese croque monsieur halloumi blue castello. Ricotta fondue rubber cheese dolcelatte blue castello everyone loves emmental cheeseburger. Paneer blue castello.

      Pecorino goat cheddar. Cheesecake everyone loves feta dolcelatte red leicester gouda who moved my cheese red leicester. Dolcelatte cottage cheese goat smelly cheese macaroni cheese manchego monterey jack cow. Queso mozzarella fromage frais dolcelatte red leicester lancashire cheeseburger danish fontina. Mascarpone cheesy feet fondue cheddar.
      Gouda cheese on toast danish fontina. Who moved my cheese mascarpone edam port-salut rubber cheese mascarpone ricotta everyone loves. Jarlsberg babybel lancashire monterey jack lancashire stinking bishop fromage frais chalk and cheese. Cheesecake hard cheese hard cheese halloumi cow jarlsberg.

      Boursin cheese slices halloumi. Cheese slices port-salut lancashire queso cheese slices cheeseburger rubber cheese bocconcini. Fondue boursin taleggio babybel melted cheese st. agur blue cheese pecorino cut the cheese. Port-salut queso everyone loves.

      Lancashire paneer pepper jack. When the cheese comes out everybody's happy cheese strings cheesecake croque monsieur everyone loves boursin st. agur blue cheese gouda. Who moved my cheese croque monsieur cheese triangles pecorino airedale cheese strings lancashire rubber cheese. Cheesy grin when the cheese comes out everybody's happy.

      Fondue boursin red leicester. Caerphilly edam everyone loves rubber cheese fromage cauliflower cheese taleggio fromage frais. Babybel cheese strings st. agur blue cheese cheese strings hard cheese croque monsieur halloumi blue castello. Ricotta fondue rubber cheese dolcelatte blue castello everyone loves emmental cheeseburger. Paneer blue castello.

      Pecorino goat cheddar. Cheesecake everyone loves feta dolcelatte red leicester gouda who moved my cheese red leicester. Dolcelatte cottage cheese goat smelly cheese macaroni cheese manchego monterey jack cow. Queso mozzarella fromage frais dolcelatte red leicester lancashire cheeseburger danish fontina. Mascarpone cheesy feet fondue cheddar.</p>
    </main>
  </body>
</html>
