<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Water Hole</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel='stylesheet' href='/styles/nav-bar.css'type='text/css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav id='nav-bar'>
      <img class='logo' src='../images/hippo.png'  style="width:80px;height:80px;">
      <input class ="searchBar" type="text" name="firstname" value="Search">
      <button type="button" class="btn btn-light">Search</button>
      <span class='header'>The Water Hole</span>
      <button type="button" class="btn btn-light" id="loginBtn">Login</button>
      <button type="button" class="btn btn-light" id="registerBtn">Register</button>
    </nav>

    <main class='container' id='resource-container'>
      <p>"At sea, brutes have raided wine barrels. Alsace, in Eastern France, is highly regarded as a winemaking region. In order to increase the alcohol content of their wines, some vintners began adding sugar to the grape must in a process called chaptalization. Trichloroanisole, or stinky cork, is produced when chlorine used in sanitization comes into contact with natural cork-dwelling bacteria. When Cabernet Sauvignon is paired with steak or dishes with a heavy butter cream sauce, the tannins are neutralized, allowing the fruits of the wine to be more noticeable. Vatican City is the smallest country in the world, but it consumes the most wine per capita worldwide. The bung hole is the opening in a cask through which wine can be put in or taken out.Don't be shy: wine experts stick their nose deep into the glass in order to pick up the complex nuances. Pertinent info is found on the label. Shiraz, Syrah, what's the difference? There is none. Intense hatred of wine is called oenophobia. A big body makes an impression on the palate.A lingering finish indicates a luscious vintage! Serve dry Semillon with clams, mussels, or pasta salad. A complex cabernet is a good one.
      Acid, tannin, fruitiness, oakiness, are all components of balance. White is good with fish. Ideal for sipping, Gewürztraminer is one of the sweeter whites. The classic profile of Cabernet Sauvignon tends to be full-bodied with high tannins and noticeable acidity that contributes to the wine's aging potential.
      Pinot noir is French for "black pinecone," a description of the grape's appearance. Unsubstantiated rumor states that the more colorful the label, the less quality the wine. The word "sauvignon" is believed to be derived from the French sauvage meaning "wild." Gulp. Sulfites are found in nearly all wines, produced by the yeast during fermentation.
      "</p>
    </main>
  </body>
</html>
