<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Waterhole - Home</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel='stylesheet' href='/styles/styles.css'type='text/css'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet">
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/search.js" defer></script>

      </head>

  <body>
  <% include ./partials/_header %>
    <div>
      <p>'Side container for liked posts'</p>
    </div>
    <form action="/resources/:id/newResource" method="POST">
        <label>Title</label>
        <input name="title" type="text"></input>
        <label>URL</label>
        <input name="URL" type="text"></input>
        <label>image</label>
        <input name="image" type="text"></input>
        <label>description</label>
        <input name="description" type="text"></input>
        <input type="submit" name="submit">
      </form>
    <main class='container' id='resource-container'>

        <% include ./partials/_content %>
    </main>
  </body>
</html>
