<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Waterhole - Home</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel='stylesheet' href='/styles/styles.css'type='text/css'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet">
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/search.js" defer></script>
        <script type="text/javascript" src="/scripts/like.js" defer></script>
         <script type="text/javascript" src="/scripts/comments.js" ></script>

      </head>

  <body>
  <% include ./partials/_header %>
    <main class='container'>
        <br>
        <% include ./partials/_new-resource %>
      <div class='resource-container'>
        <% include ./partials/_content %>
      </div>
    </main>
  </body>
</html>
