<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Waterhole - Register</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel='stylesheet' href='/styles/styles.css'type='text/css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<% include ./partials/_header %>

<body>
    <main class='container' id='resource-container'>
  <form id='register-form' action="/register" method="POST">
    <div class="form-group mb-2">
      <label for="name">Your Name</label>
      <input class="form-control" type="text" name="name" placeholder="Your name here" style="width: 300px" >
      <label for="email">Your Email</label>
      <input class="form-control" type="email" name="email" placeholder="example@gmail.com" style="width: 300px" >
      <label for="password">Password</label>
      <br/>
      <input class="form-control" type="password" name="password" placeholder="Enter your password here" style="width: 300px">
      <button type="submit" class="btn btn-primary" style="margin-top:5px"> Register </button>
      <div class="custom-select" style="width:200px;">
          <select name='avatar'>
            <option class='logo' value='../images/ape.png'  style="width:80px;height:80px;"> Ape </option>
            <option class='logo' value='../images/cheetah.png'  style="width:80px;height:80px;"> Cheetah </option>
            <option class='logo' value='../images/elephant.png'  style="width:80px;height:80px;"> Elephant </option>
            <option class='logo' value='../images/giraffe.png'  style="width:80px;height:80px;"> Giraffe </option>
            <option class='logo' value='../images/koala.png'  style="width:80px;height:80px;"> Koala </option>
            <option class='logo' value='../images/panda.png'  style="width:80px;height:80px;"> Panda </option>
            <option class='logo' value='../images/rhinoceros.png'  style="width:80px;height:80px;"> Rhinoceros </option>
            <option class='logo' value='../images/tarsier.png'  style="width:80px;height:80px;"> Tarsier </option>
            <option class='logo' value='../images/tiger.png'  style="width:80px;height:80px;"> Tiger </option>
            <option class='logo' value='../images/wildebeest.png'  style="width:80px;height:80px;"> Wildebeest </option>
            <option class='logo' value='../images/wolf.png'  style="width:80px;height:80px;"> Wolf </option>
          </select>
        </div>
    </div>
  </form>
  </main>
</body>

</html>
