<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>Waterhole - Register</title>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
  <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
  <link rel='stylesheet' href='/styles/styles.css'type='text/css'/>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i' rel='stylesheet'>
  <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>
  <script type='text/javascript' src='/scripts/app.js'></script>
  <script type='text/javascript' src='/scripts/user-avatar.js'></script>

</head>

<body id='users'>
  <% include ./partials/_header %>
  <main id='user-avatar'>
    <figure>
      <img id='avatar-display' src='/images/hippo.png'>
    </figure>
  </main>
  <div class='login-form'>
  <form method='POST' action='/register' id='register-form'>
    <main id="register">
      <label for='name'>Your Name: </label>
      <input class='form-control' type='text' name='name' placeholder='Your name here'>
      <label for='name'>Your Avatar: </label>
      <select class='user-avatar' id='avatar' name='profile_image'>
        <option class='avatar' value='/images/ape.png'> Ape </option>
        <option class='avatar' value='/images/baboon.png'> Baboon </option>
        <option class='avatar' value='/images/cheetah.png'> Cheetah </option>
        <option class='avatar' value='/images/elephant.png'> Elephant </option>
        <option class='avatar' value='/images/fox.png'> Fox </option>
        <option class='avatar' value='/images/giraffe.png'> Giraffe </option>
        <option class='avatar' value='/images/goat.png'> Goat </option>
        <option class='avatar' value='/images/koala.png'> Koala </option>
        <option class='avatar' value='/images/lion.png'> Lion </option>
        <option class='avatar' value='/images/panda.png'> Panda </option>
        <option class='avatar' value='/images/rhinoceros.png'> Rhinoceros </option>
        <option class='avatar' value='/images/tarsier.png'> Tarsier </option>
        <option class='avatar' value='/images/tiger.png'> Tiger </option>
        <option class='avatar' value='/images/wildebeest.png'> Wildebeest </option>
        <option class='avatar' value='/images/wolf.png'> Wolf </option>
      </select>
      <label for='email'>Your Email: </label>
      <input class='form-control' type='email' name='email' placeholder='example@gmail.com'>
      <label for='password'>Password: </label>
      <input class='form-control' type='password' name='password' placeholder='Enter your password here'>
       <button type='submit' class='btn-light' style='margin-top:5px'> Register </button>
    </div>
  </form>
  </main>
</body>

</html>
