<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Water Hole - Register</title>
</head>

<body style="font-size:20px; padding:50px;">
  <h1>The Water Hole</h1>
  <nav id='nav-bar'>
    <img class='logo' src='../images/hippo.png'  style="width:80px;height:80px;">
    <input class ="searchBar" type="text" name="firstname" value="Search">
    <button type="button" class="btn btn-light">Search</button>
    <span class='header'>The Water Hole</span>
    <button type="button" class="btn btn-light" id="loginBtn">Login</button>
    <button type="button" class="btn btn-light" id="registerBtn">Register</button>
  </nav>
  <form action="/register" method="POST">
    <div class="form-group mb-2">
      <label for="name">Your Name</label>
      <input class="form-control" type="text" name="name" placeholder="Your name here" style="width: 300px" >
      <div class="custom-select" style="width:200px;">
            <select name='avatar'>
              <option value="0">Select Your Avatar:</option>
              <option img class='logo' value='../images/ape.png'  style="width:80px;height:80px;"> Ape </option>
              <option img class='logo' value='../images/cheetah.png'  style="width:80px;height:80px;"> Cheetah </option>
              <option img class='logo' value='../images/elephant.png'  style="width:80px;height:80px;"> Elephant </option>
              <option img class='logo' value='../images/giraffe.png'  style="width:80px;height:80px;"> Giraffe </option>
              <option img class='logo' value='../images/koala.png'  style="width:80px;height:80px;"> Koala </option>
              <option img class='logo' value='../images/panda.png'  style="width:80px;height:80px;"> Panda </option>
              <option img class='logo' value='../images/rhinoceros.png'  style="width:80px;height:80px;"> Rhinoceros </option>
              <option img class='logo' value='../images/tarsier.png'  style="width:80px;height:80px;"> Tarsier </option>
              <option img class='logo' value='../images/tiger.png'  style="width:80px;height:80px;"> Tiger </option>
              <option img class='logo' value='../images/wildebeest.png'  style="width:80px;height:80px;"> Wildebeest </option>
              <option img class='logo' value='../images/wolf.png'  style="width:80px;height:80px;"> Wolf </option>
            </select>
          </div>
      <label for="email">Your Email</label>
      <input class="form-control" type="email" name="email" placeholder="example@gmail.com" style="width: 300px" >
      <label for="password">Password</label>
      <br/>
      <input class="form-control" type="password" name="password" placeholder="Enter your password here" style="width: 300px">
      <button type="submit" class="btn btn-primary" style="margin-top:5px"> Register </button>
    </div>
  </form>
</body>

</html>