$left-margin: 10px;
$poster-backgound: #D9f0e4;

.shared-content{
  height: 30%;
  font-family: 'Crimson Text', serif;
  width: auto;
  background: #a3c4b6;
  border-radius: 5px;
  border:2px solid #4B5A56;
  margin-top: 20px;
  margin: 20px;

  head{
    background: $poster-backgound;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    border-radius: 5px 5px 0px 0px;

    // .user-avatar{
    //   height:10px;
    //   width:20px;
    //   border-radius: 10px;
    //   border:2px solid #4B5A56;
    // }

    .title{
      align-items: center;
      font-family: 'Crimson Text', serif;
      margin-left: $left-margin;
      font-size: 24px;
      color:black;
    }
    .username{
      color:Black;
      font-weight: bold;
      padding-right: 10px;
    }
  }

  .post-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:#536D67;
    height: 75%;
    align-items: center;

    .post-image{
      // height: 80%;
      width: 100%;
      margin:20px;
      max-width: 200px;
      min-width: 100px;
      max-height: 200px;
      min-height: 200px;
      border-top:2px solid #4B5A56;
      border-bottom:2px solid #4B5A56;
    }

    p {
      flex-shrink: 2.25;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      height:20%;
      width:100%;
      justify-content: center;
      background: $poster-backgound;
      padding-left: $left-margin;
      font-size: 18px;
      display:flex;
      align-items: center;
    }
  }

  .footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;

    .likes{
      margin-left: $left-margin;
    }

    .star{
      color:rgb(238, 238, 62);
      font-size: 100%;
      padding: 0px;
    }

    .star::before{
      content: '\2606';
      cursor: pointer;
    }

    .star.rated::before{
      content: '\2605';
    }

    .stars{
      counter-reset: rateme 0;
      font-size: 200%;
    }
    .star.rated{
      counter-increment: rateme 1;
    }
    .stars::after{
      content: counter(rateme) '/5';
    }

    .comments{
      height: 50%;
      width: 60%;
      margin: $left-margin *2;
    }
  }
}