html {
  box-sizing: border-box;
  // background: url(https://en.wikipedia.org/wiki/Portal:Waterfalls#/media/File:Kravica_Waterfalls,Bosnia_%26_Herzegovina.jpg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: auto;
  height: 100%;
  font-size: 24px;

  .container {
    background-color: #A3C4B6;
    height: window-height;
    min-height: 500px;
    width:100%;
    margin-top:30px;
    max-width: 100%;
  }
}
