html {
  box-sizing: border-box;
  // background: url(https://en.wikipedia.org/wiki/Portal:Waterfalls#/media/File:Kravica_Waterfalls,Bosnia_%26_Herzegovina.jpg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  justify-content: space-evenly;
  align-content: space-around;
  font-family: 'Crimson Text', serif;
  margin: auto;
  height: 100vw;
  font-size: 24px;

  .container {
    background-color: #698f81;
    height: 100%;
    width:100%;
    margin-top:30px;
    max-width: 100%;
  }

  .resource-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-evenly;
    height:100%;
  }
}
