html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: auto;
  font-size: 24px;

  .container {
    background-color: #A3C4B6;
    width:100%;
    margin: auto;
    margin-top:80px;
  }
}