html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: auto;
  font-size: 24px;

  .container {
    background-color: #A3C4B6;
    height: auto;
    min-height: 500px;
    width:100%;
    margin-top:80px;
    max-width: 100%;
  }
}
